<!doctype html>
<html>
  <head>
    <link href="{{ site.baseurl}}/favicon.ico" rel="shortcut icon" sizes="16x16 32x32 64x64" />
    <title>PodioKit • The Objective-C SDK for Podio</title>
    <link rel="stylesheet" href="{{ site.baseurl}}/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <ul>
            <li class="{% if page.active == 'index' %}active{% endif %}"><a href="{{ site.baseurl}}/">Getting started</a></li>
            <li class="{% if page.active == 'async' %}active{% endif %}"><a href="{{ site.baseurl}}/async">Basic principles of asynchronicity</a></li>
            <li class="{% if page.active == 'auth' %}active{% endif %}"><a href="{{ site.baseurl}}/authentication">Authentication &amp; session management</a></li>
            <li class="{% if page.active == 'storage' %}active{% endif %}"><a href="{{ site.baseurl}}/storage">Local storage  &amp; caching</a></li>
            <li class="{% if page.active == 'push' %}active{% endif %}"><a href="{{ site.baseurl}}/push">Push</a></li>
            <li class="{% if page.active == 'items' %}active{% endif %}"><a href="{{ site.baseurl}}/items">Working with apps &amp; items</a></li>
            <li class="{% if page.active == 'fields' %}active{% endif %}"><a href="{{ site.baseurl}}/fields">Item field examples</a></li>
            <li class="{% if page.active == 'files' %}active{% endif %}"><a href="{{ site.baseurl}}/files">Working with files</a></li>
            <li class="{% if page.active == 'comments' %}active{% endif %}"><a href="{{ site.baseurl}}/comments">Working with comments</a></li>
            <li class="{% if page.active == 'debug' %}active{% endif %}"><a href="{{ site.baseurl}}/debug">Debugging &amp; errors</a></li>
            <li class="{% if page.active == 'samples' %}active{% endif %}"><a href="{{ site.baseurl}}/samples">Sample code &amp; apps</a></li>
            <li class="{% if page.active == 'changelog' %}active{% endif %}"><a href="{{ site.baseurl}}/changelog">Release notes</a></li>
          </ul>
        </nav>
        <p>You have found PodioKit, the official Objective-C SDK for <a href="https://developers.podio.com/">Podio</a>. It works with both iOS and Mac OS X.</p>
        <p>
          <a href="https://travis-ci.org/podio/podio-objc"><img src="https://travis-ci.org/podio/podio-objc.png?branch=master" alt="Build Status"></a>
        </p>
        <p>For help post on <a href="http://stackoverflow.com/questions/tagged/podio">Stack Overflow</a> and tag with <b>podio</b>. For bugs <a href="https://github.com/podio/podio-objc/issues">create an issue on GitHub</a>.</p>
        <ul class="buttons">
          <li><a class="download" href="https://github.com/podio/podio-objc/releases">Download</a></li>
          <li><a class="github" href="https://github.com/podio/podio-objc">GitHub</a></li>
        </ul>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
